body {
  margin: 0;
  padding: 0;
}

.top-nav {
  background-color: #015667;
  padding: 0;
  margin: 0;
}

.top-nav li {
  text-align: center;
  border-right: 1px solid white;
}

.top-nav a {
  color: #fff;
}

.main-nav {
  color: #015a6c;
  padding: 5px 80px 5px 20px;
}

.main-nav .logo-width {
  width: 80%;
  padding-left: 50px;
}

.main-nav li {
  position: relative;
}

.main-nav li:before {
  content: '';
  height: 12px;
  width: 2px;
  background-color: #015667;
  display: inline-block;
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.main-nav li.no-border:before {
  display: none;
}

.main-nav a {
  color: #006666;
}

.main-nav .btn {
  color: #fff;
}

.middle-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.middle-section h6 {
  color: #006666;
  font-size: 12px;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.middle-section h2 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.form-section {
  padding: 25px;
  position: absolute;
  bottom: 50px;
}

.form-section .form-control {
  width: 458px;
}

.form-section .btn {
  width: 122px;
}

.third-section {
  background: url(../images/doctor.png) no-repeat;
  width: 100%;
  position: relative;
}

.third-section .doctor-right {
  width: 900px;
  height: 600px;
}

.third-section .doctor-detail {
  background-image: url(../images/doctor2.jpg);
  height: 600px;
  padding: 40px;
}

.third-section .spacing {
  letter-spacing: 2px;
  opacity: 0.5;
  font-weight: lighter;
  padding: 0 30px 30px 30px;
}

.third-section .second-title {
  font-weight: lighter;
  padding: 0 30px 30px 30px;
}

.third-section .third-title {
  color: #fff;
  font-size: 12px;
  padding: 0 60px 30px 30px;
}

.third-section button {
  margin-left: 30px;
}

.third-section .btn-outline-primary {
  border: 1px solid #fff;
  color: #fff;
}

.third-section .center-list {
  background-color: #2792a6;
  display: block;
  width: 325px;
  padding: 10px 0px 10px 25px;
  position: absolute;
  bottom: 172px;
  left: 546px;
}

.third-section .icon-right-arrow {
  position: absolute;
  left: 273px;
  bottom: 108px;
  color: white;
  opacity: 0.6;
}

.third-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.third-section li {
  border-bottom: 1px solid #52a8b8;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px 10px 15px;
}

.third-section .blue {
  background-color: #595395;
}

.tabs-sec {
  background-color: #fff;
  padding: 25px 15px 4px 15px;
  width: 75%;
  position: absolute;
  bottom: 18px;
  right: 379px;
}

.tabs-sec .heart-beat {
  width: 250px;
}

.tabs-sec img {
  width: 90px;
}

.tabs-sec p {
  font-size: 10px;
}

.fourth-bar {
  padding: 35px 120px 30px 120px;
}

.fourth-bar .space {
  letter-spacing: 4px;
  color: #2792a6;
}

.fourth-bar .purple {
  color: #595395;
  font-size: 50px;
}

.fourth-bar .right-button {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  float: right;
  width: 150px;
}

.card-section .text-info {
  padding: 20px 0;
}

.card-section .card-sub-title {
  font-weight: bolder;
  font-size: 22px;
  padding-bottom: 20px;
}

.card-section .btn-primary {
  background-color: #595395;
  border-radius: 0;
  margin-top: 25px;
}

.card-section .icon-right-arrow {
  position: relative;
  top: 4px;
  right: -6px;
}

.footer-banner {
  background-image: url(../images/footer-banner.png);
  height: 500px;
  width: auto;
}

.footer-banner .entire-content {
  padding-left: 130px;
}

.footer-banner .our-doctor {
  padding-top: 70px;
  color: #2792a6;
}

.footer-banner .professional {
  color: #595395;
  font-size: 45px;
  font-weight: lighter;
}

.footer-banner .find-doctor {
  color: #666666;
  font-size: 16px;
}

.footer-banner .btn-outline-success {
  background-color: #2792a6;
  color: white;
  border-radius: 0;
}

.footer-banner h3 {
  padding-bottom: 60px;
}

.footer-banner .form-control {
  margin-right: 15px;
  height: 40px;
}

.footer-banner .btn-outline-success {
  width: 230px;
  margin-right: 35px;
  height: 40px;
}

.footer-banner .btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  border-radius: 0;
  background-color: #595395;
}

.footer-banner .icon-right-arrow {
  position: relative;
  top: 4px;
  left: 8px;
}

footer {
  background-color: #2a2c37;
}

footer .footer-padding {
  padding-top: 40px;
}

footer p {
  font-size: 10px;
  padding: 0 50px 0 50px;
}

footer hr {
  background-color: #2792a6;
  height: 2px;
}

footer .last-bar {
  padding: 0 100px;
}

footer i {
  font-size: 20px;
}

footer .footer-copyright {
  background-color: #1d1f2a;
  font-size: 10px;
  opacity: 0.5;
}

.main-banner {
  width: 100%;
  display: inline-block;
  background: url(../images/banner1.jpg) no-repeat center top;
}

.main-banner .container {
  position: relative;
  min-height: 550px;
}

.main-banner .find-form {
  background-color: #fff;
  padding: 25px;
  position: absolute;
  width: calc(100% - 25px);
  bottom: 50px;
}

.main-banner .find-form .btn {
  width: 100%;
  border-radius: 0;
  background-color: #595395;
}

.main-banner .find-form .icon-angle-right {
  position: absolute;
  position: relative;
  top: 4px;
  left: 15px;
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */




/* 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

  /* .main-nav {
      color: #015a6c;
      padding: 5px 30px 2px 5px;
  }

  .navbar-expand-lg .navbar-collapse {
      font-size: 10px;
  } */
/* 
  .main-nav .logo-width {
      width: 75%;
      padding-left: 44px;
  }

  .main-nav .btn {
    font-size: 10px;
}

  .third-section .center-list {
      width: 291px;
      padding: 0px 0px 1px 1px;
      bottom: 201px;
      left: 398px;
  }

  .third-section .icon-right-arrow {
      position: absolute;
      left: 255px;
      bottom: 100px;
  }

  .tabs-sec {
      padding: 4px 4px 0px 95px;
      width: 75%;
      position: absolute;
      bottom: 9px;
      right: 329px;
  }

  .card-section .text-info {
     padding: 0;
  }

  .card-section .card-sub-title {
      font-weight: bolder;
      font-size: 18px;
      padding-bottom: 1px;
  }

  .card-section .card-text {
      font-size: 13px;
  }
  
  footer p {
      font-size: 9px;
      padding: 0 20px 0 25px;
  }
}







/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
/* 
  .main-nav {
    color: #015a6c;
    padding: 5px 30px 2px 5px;
}

.navbar-expand-lg .navbar-collapse {
    font-size: 10px;
}

.main-nav .logo-width {
    width: 55%;
    padding-left: 10px;
}

.main-nav .btn {
  font-size: 8px;
}

.third-section .third-title {
  font-size: 10px;
  padding: 0 60px 10px 30px;
}

.third-section .center-list {
  width: 194px;
  padding: 0px 0px 1px 1px;
  bottom: 176px;
  left: 376px;
  font-size: 10px;
}

.third-section .icon-right-arrow {
    position: absolute;
    left: 255px;
    bottom: 100px;
}

.tabs-sec {
    padding: 3px 4px 0px 12px;
    width: 75%;
    position: absolute;
    bottom: 7px;
    right: 254px;
}

.tabs-sec .heart-beat {
  width: 168px;
}

.tabs-sec img {
  width: 60px;
}

.fourth-bar .purple {
  font-size: 30px;
}

.card-section .text-info {
   padding: 0;
}

.card-section .card-sub-title {
    font-weight: bolder;
    font-size: 15px;
    padding-bottom: 1px;
}

.card-section .btn-primary {
  font-size: 12px;
  border-radius: 0;
  margin-top: 5px;
}

.card-section .card-text {
    font-size: 13px;
}

footer p {
    font-size: 9px;
    padding: 0 20px 0 25px;
  }

}
 */






/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/* 
  .main-nav {
    color: #015a6c;
    padding: 5px 30px 2px 5px;
}

.navbar-expand-lg .navbar-collapse {
    font-size: 10px;
}

.main-nav .logo-width {
    width: 31%;
    margin-left: 273px;
}

.main-nav .btn {
  font-size: 8px;
}

.main-banner .find-form {
    padding: 5px;
    position: absolute;
    width: calc(89% - 13px);
    bottom: 50px;
    font-size: 15px;
}

.form-control {
  width: 100%;

}

.main-banner .find-form .col-5 {
  width: 30%;
}

.main-banner .find-form .col-2 {
  width: 40%;
}

.main-banner .find-form .btn {
  font-size: 18px;
  width: 58%;
  border-radius: 4px;
}

.middle-section h2 {
  font-size: 20px;
}

.middle-section .col-3 {
 width: 50%;
}

.pt-5 {
  padding-top: 1rem;
}

.pt-4 {
  font-size: 12px;
}

.third-section .third-title {
  font-size: 10px;
  padding: 0 60px 10px 30px;
}

.third-section .center-list {
    width: 194px;
    padding: 0px 0px 1px 1px;
    bottom: 194px;
    left: 244px;
    font-size: 10px;
}

.third-section .icon-right-arrow {
    position: absolute;
    left: 170px;
    bottom: 82px;
}

.third-section .spacing {
  padding: 0 30px 4px 30px;
}

.third-section .second-title {
  font-weight: lighter;
  padding: 0 10px 5px 30px;
}

.third-section .btn-outline-primary {
  font-size: 10px;
}

.tabs-sec {
    padding: 3px 4px 0px 12px;
    width: 75%;
    position: absolute;
    bottom: 7px;
    right: 254px;
}

.tabs-sec .heart-beat {
  width: 168px;
}

.tabs-sec img {
  width: 60px;
}

.fourth-bar .purple {
  font-size: 26px;
}

.fourth-bar .right-button {
  width: 100px;
}

.card-section .text-info {
   padding: 0;
}

.card-section .card-sub-title {
    font-weight: bolder;
    font-size: 10px;
    padding-bottom: 1px;
}

.card-section .card-text {
  font-size: 10px;
}

.card-section .btn-primary {
  font-size: 12px;
  border-radius: 0;
  margin-top: 5px;
}

.footer-banner .entire-content {
  padding-left: 60px;
}

.text-uppercase {
  font-size: 9px;
}


footer p {
    font-size: 9px;
    padding: 0;
  }

  footer .last-bar {
    padding: 0 18px;
} */

}; */


























/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {...}






 */
